<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Esfinterest</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include("partials/navigation")%>
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% if(images.length>0) { %>
                <% images.forEach(function(image) { %>
                    <div class="card animated fadeInDown">
                        <img src="<%= image.path %>" class="card-img-top" salt="">
                        <div class="card-body">
                            <h5 class="card-title"><%=  image.title %></h5>
                            <p class="card-text"><%=image.description%></p>
                            <p class="card-text"><%= image.created_at.getUTCFullYear() + "/" + (image.created_at.getMonth() + 1) + "/" + image.created_at.getDate()%></p>
                            <a href="/image/<%= image._id%>" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                <% })} else { %>
                    <h3>Empty! Upload images!</h3>
                <%}%>
            </div>
        </div>
    </div>

</body>
</html>